<section id="contact">
  <div class="container py-5">
    <h1 class="text-center">contact us</h1>
    <div class="row">
      <div class="col-sm-3">
        <img src="../../../assets/images/contact/T58-4.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-sm-3 text-box">
        <h6>opening times</h6>
        <p>Weekdays</p>
        <small>7am - 9pm</small>
        <p>Weekends</p>
        <small>9am - 8pm</small>
      </div>
      <div class="col-sm-3">
        <img src="../../../assets/images/contact/tienda-mascotas.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-sm-3">
        <img src="../../../assets/images/contact/plan-de-negocio-para-montar-una-tienda-de-mascotas.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-sm-3 text-box">
        <h6>address</h6>
        <address>
          <small>Baker Street</small>
          <br>
          <small>221B</small>
          <br>
          <small>London</small>
        </address>
        <small>+44 (0) 1234 5678</small>
        <br>
        <small>coolemail@gmail.com</small>
      </div>
      <div class="col-sm-3">
        <img src="../../../assets/images/contact/map.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-sm-3">
        <img src="../../../assets/images/contact/tienda-mascotas-bogota.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-sm-3 text-box p-5">
        <div>
          <button class="btn btn-dark btn-block btn-lg rounded-0">send message</button>
          <br>
          <button class="btn btn-dark btn-block btn-lg rounded-0">get directions</button>
        </div>
      </div>
    </div>
  </div>
</section>
