<header id="hero">
  <div id="hero-container">
    <div class="logo px-2">
      <img class="img-fluid" src="../../../assets/images/LOGO.svg" alt="logo"
        width="512" height="256">
    </div>
    <h1>Texto siempre visible</h1>
    <h3>{{ envTest }}</h3>
    <div class="social">
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-2x fa-facebook"></i>
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-2x fa-twitter"></i>
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-2x fa-instagram"></i>
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-2x fa-pinterest"></i>
      </a>
    </div>
  </div>
</header>
