<section id="about">
  <div class="container-fluid bg-light py-5">
    <div class="container p-5">
      <div class="row">
        <div class="col text-center">
          <img class="img-fluid rounded-circle shadow-sm mb-3" src="../../../assets/images/little-dog.jpg" alt="little dog" width="256" height="256">
        </div>
        <div class="col-sm-8 pr-5">
          <div>
            <h1>about us</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius aspernatur perspiciatis assumenda provident.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem necessitatibus vero iusto optio voluptatem unde ex minima veritatis earum ab non laboriosam repudiandae hic, dolore obcaecati sequi labore qui et!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
