<section id="menus">
  <div class="container-fluid bg-white py-5">
    <div class="w-100 text-center">
      <h1>menus</h1>
    </div>
    <div class="w-100 p-3 border-bottom border-top border-black-50">
      <div class="container">
        <ul class="nav nav-justified">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              >first</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >second</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              href="#contact"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >third</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="container mt-3">
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="row">
            <div class="col-sm-6">
              <ul class="menu-list">
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <div class="row justify-content-center">
                <div class="img-column mr-1">
                  <img
                    class="img-fluid rounded mb-1"
                    src="../../../assets/images/menu1/white-dog.jpg"
                    alt="white-dog"
                    width="200"
                    height="200"
                  />
                  <img
                    class="img-fluid rounded"
                    src="../../../assets/images/menu1/sheepdog.jpg"
                    alt=""
                    width="200"
                    height="200"
                  />
                </div>
                <img
                  class="img-fluid rounded"
                  src="../../../assets/images/menu1/HUSKY.jpg"
                  alt=""
                  width="200"
                  height="400"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <div class="row">
            <div class="col-sm-6">
              <ul class="menu-list">
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <div class="row justify-content-center">
                <div class="img-column mr-1">
                  <img
                    class="img-fluid rounded mb-1"
                    src="../../../assets/images/menu1/white-dog.jpg"
                    alt="white-dog"
                    width="200"
                    height="200"
                  />
                  <img
                    class="img-fluid rounded"
                    src="../../../assets/images/menu1/sheepdog.jpg"
                    alt=""
                    width="200"
                    height="200"
                  />
                </div>
                <img
                  class="img-fluid rounded"
                  src="../../../assets/images/menu1/HUSKY.jpg"
                  alt=""
                  width="200"
                  height="400"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="contact"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          <div class="row">
            <div class="col-sm-6">
              <ul class="menu-list">
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
                <li>
                  <h6>menu header</h6>
                  <div class="menu-desc">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <span class="text-right">0.00$</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <div class="row justify-content-center">
                <div class="img-column mr-1">
                  <img
                    class="img-fluid rounded mb-1"
                    src="../../../assets/images/menu1/white-dog.jpg"
                    alt="white-dog"
                    width="200"
                    height="200"
                  />
                  <img
                    class="img-fluid rounded"
                    src="../../../assets/images/menu1/sheepdog.jpg"
                    alt=""
                    width="200"
                    height="200"
                  />
                </div>
                <img
                  class="img-fluid rounded"
                  src="../../../assets/images/menu1/HUSKY.jpg"
                  alt=""
                  width="200"
                  height="400"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
