<footer>
  <div class="container-fluid p-5 bg-dark footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="logo px-2">
            <img class="img-fluid" src="../../../assets/images/LOGO.svg" alt="logo" width="256" height="128">
          </div>
          <div class="f-social">
            <a href="http://" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-2x fa-facebook"></i>
            </a>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-2x fa-twitter"></i>
            </a>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-2x fa-instagram"></i>
            </a>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-2x fa-pinterest"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-3 text-box">
          <h6>opening times</h6>
          <p>Weekdays</p>
          <small>7am - 9pm</small>
          <p>Weekends</p>
          <small>9am - 8pm</small>
        </div>
        <div class="col-sm-3 text-box">
          <h6>contact info</h6>
          <address>
            <small>Baker Street</small>
            <br>
            <small>221B</small>
            <br>
            <small>London</small>
          </address>
          <small>+44 (0) 1234 5678</small>
          <small>coolemail@gmail.com</small>
        </div>
        <div class="col-sm-3 text-box">
          <h6 class="text-center">Instagram @yourinstagram</h6>
          <div class="footer-pics">
            <a href="http://instagram.com" target="_blank" rel="noopener noreferrer">
              <img src="../../../assets/images/contact/T58-4.jpg" alt="pet shop" class="img-fluid rounded" width="64" height="64">
            </a>
            <a href="http://instagram.com" target="_blank" rel="noopener noreferrer">
              <img src="../../../assets/images/contact/tienda-mascotas.jpg" alt="girl and dog" class="img-fluid rounded" width="64" height="64">
            </a>
            <a href="http://instagram.com" target="_blank" rel="noopener noreferrer">
              <img src="../../../assets/images/contact/plan-de-negocio-para-montar-una-tienda-de-mascotas.jpg" alt="dog at shop" class="img-fluid rounded" width="64" height="64">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-darker p-3 text-bottom">
    <small>2021 All Rights Reserved</small>
  </div>
</footer>
